@model List<BillViewModel>

    <div class="mb-2">
        <div class="mb-1">
            <b>Suma brutto: @String.Format("{0:0.00}", Model?.Where(m => m.CancellationDate == null).Select(m => m.BruttoValueOfBill).Sum()) zł</b>
        </div>
        <div class="mb-1">
            <b>Suma netto: @String.Format("{0:0.00}", Model?.Where(m => m.CancellationDate == null).Select(m => m.NettoValueOfBill).Sum()) zł</b>
        </div>
    </div>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Numer rachunku</th>
            <th>Stolik</th>
            <th>Forma rabatowania</th>
            <th>Kelner</th>
            <th>Otwarcie rachunku</th>
            <th>Zamknięcie rachunku</th>
            <th>Data ostatniej obsługi</th>
            <th>Liczba gości</th>
            <th>Opis</th>
            <th>Netto</th>
            <th>Brutto</th>
            <th>Ustalona wartość rachunku</th>
            <th>Pozycje</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var bill in Model)
                {
                    <tr>
                        <th>@bill.Number</th>
                        <th>@bill.TableName</th>
                        <th>@bill.DiscountType</th>
                        <th>@bill.Waiter</th>
                        <th>@bill.OpenDate</th>
                        <th>@bill.CloseDate</th>
                        <th>@bill.LastServiceDate</th>
                        <th>@bill.GuestsCount</th>
                        <th>@bill.Description</th>
                        <th>@String.Format("{0:0.00}", bill.NettoValueOfBill)</th>
                        <th>@String.Format("{0:0.00}", bill.BruttoValueOfBill)</th>
                        <th>@bill.SettedValueOfBill</th>
                        <th>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#menuItemsModal">
                               +
                             </button>
                        </th>
                    </tr>
                }
            }
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Numer rachunku</th>
            <th>Stolik</th>
            <th>Forma rabatowania</th>
            <th>Kelner</th>
            <th>Otwarcie rachunku</th>
            <th>Zamknięcie rachunku</th>
            <th>Data ostatniej obsługi</th>
            <th>Liczba gości</th>
            <th>Opis</th>
            <th>Netto</th>
            <th>Brutto</th>
            <th>Ustalona wartość rachunku</th>
            <th>?</th>
        </tr>
    </tfoot>
</table>
